.BlogsPage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2.5rem;
  @media screen and (max-width: 1080px) {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
  .blog {
    background-color: #111b45;
    width: 90%;
    padding: 1rem;
    overflow: hidden;
    .blog-content {
      overflow: hidden;
      padding-bottom: 1rem;
      .blog-sub {
        font-size: 0.9rem;
      }
      img {
        width: 150px;
        transition: all 0.2s ease-in-out;
        &:hover {
          transform: scale(1.1);
        }
        padding-bottom: 0.5rem;
      }
      .blog-link {
        color: inherit;
        font-family: inherit;
        text-decoration: none;
        font-size: 1.3rem;
        padding-bottom: 1rem;
        transition: all 0.4s ease-in-out;
        &:hover {
          color: #100f14;
        }
      }
    }
  }
}

.b-title {
  margin-bottom: 4rem;
}
